html,
      body,
      #renderer {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 1;
      }

      input,
      button {
        font-family: 'Roboto', sans-serif;
      }

#logo {
    background-image: url("logo.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right, left; 
    width: 201px;
    height: 33px;
    z-index: 6000;
    position: fixed;
    left: 20px;
    top: 20px;
}

#overlay {
  background: #ffffff;
  color: #08538c;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

#progress_container {
  position: fixed;
  bottom: 24px;
  width: 100%;
  z-index: 6000;
  left: 0;
  float: left;
}

.progress {
  margin: 20px;
  padding: 0px 20px;
  height: 8px;
}

.controls {
  margin: 12px;
  width: 100%;
}

.controls p, .controls label {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  transition: 0.3s;
  color: #223;
  text-decoration: none;
}

.controls p:hover, .controls label:hover {
  color: #08538c;
}

.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    -webkit-animation: rotation 1.2s infinite linear;
    -moz-animation: rotation 1.2s infinite linear;
    -o-animation: rotation 1.2s infinite linear;
    animation: rotation 1.2s infinite linear;
    border: 12px solid #08538c;
    border-right-color: transparent;
    border-radius: 50%;
}
@-webkit-keyframes rotation {
   0% {-webkit-transform: rotate(0deg);}
   100% {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   0% {-moz-transform: rotate(0deg);}
   100% {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   0% {-o-transform: rotate(0deg);}
   100% {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   0% {transform: rotate(0deg);}
   100% {transform: rotate(359deg);}
}

.opensidenav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 12px;
  padding: 6px 12px;
  text-align: center;
  border: 1px solid;
  border-radius: 2px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #dfeaf5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left: 2px solid #08538c;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #222;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.slider {
  -webkit-appearance: none;
  width: 250px;
  height: 8px;
  background: #fff;
  border-radius: 4px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #08538c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #08538c;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background: #08538c;
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  transition: opacity .2s;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  opacity: 1;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #08538c;
  opacity: 0.7;
  transition: opacity .2s;
}
.checkbox-container:hover input:checked ~ .checkmark {
  opacity: 1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
